<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!--头部导航-->
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">LI的神秘博客</span>
                </button>
                <a class="navbar-brand" href="/">LI的神秘博客</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入查询的问题">
                    </div>
                    <button type="submit" class="btn btn-default" style="font-family: 宋体;">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user != null}">
                        <a href="/publish">提问</a>
                    </li>
                    <li th:if="${session.user != null}"><a href="/profile/replies">通知 <span
                            class="layui-badge layui-bg-blue" th:text="${session.unreadCount}"></span></a></li>
                    <li class="dropdown" th:if="${session.user !=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/questions">我的问题</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user == null}">
                        <a href="https://github.com/login/oauth/authorize?client_id=a250f9e5919fc985cc91&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

<!--尾部导航-->
<div id="footer" class="col-sm-12 col-md-12 col-xs-12" th:fragment="footer">
    <div>
        <div style="font-size: 15px;cursor:pointer;font-family: 楷体; color: #00FFFF;margin-bottom: 10px;" id="sitetime">
            本站已生存：0 年 0 天 z 小时 24 分钟 28 秒
        </div>
        <a href=""><img style="width: 50px;height: 50px;" th:src="@{/images/mouse.png}" alt=""></a>
        <a href="">合作</a>
        <a href="">友情链接</a>
        <a href="">友情链接</a>
        <a href="">友情链接</a>
        <a href="">友情链接</a>
        <a href="">友情链接</a>
        <a href="">友情链接</a>
        <a href="">友情链接</a>
        <div>Copyright © 2020 - 2021 CodeTip. All Rights Reserved</div>
        <script language="javascript">
            function siteTime() {
                window.setTimeout("siteTime()", 1000);
                var seconds = 1000;
                var minutes = seconds * 60;
                var hours = minutes * 60;
                var days = hours * 24;
                var years = days * 365;
                var today = new Date();
                var todayYear = today.getFullYear();
                var todayMonth = today.getMonth() + 1;
                var todayDate = today.getDate();
                var todayHour = today.getHours();
                var todayMinute = today.getMinutes();
                var todaySecond = today.getSeconds();
                /* Date.UTC() -- 返回date对象距世界标准时间(UTC)1970年1月1日午夜之间的毫秒数(时间戳)
                year - 作为date对象的年份，为4位年份值
                month - 0-11之间的整数，做为date对象的月份
                day - 1-31之间的整数，做为date对象的天数
                hours - 0(午夜24点)-23之间的整数，做为date对象的小时数
                minutes - 0-59之间的整数，做为date对象的分钟数
                seconds - 0-59之间的整数，做为date对象的秒数
                microseconds - 0-999之间的整数，做为date对象的毫秒数 */
                var t1 = Date.UTC(2019, 1, 12, 0, 0, 0); //北京时间2016-12-1 00:00:00
                var t2 = Date.UTC(todayYear, todayMonth, todayDate, todayHour, todayMinute, todaySecond);
                var diff = t2 - t1;
                var diffYears = Math.floor(diff / years);
                var diffDays = Math.floor((diff / days) - diffYears * 365);
                var diffHours = Math.floor((diff - (diffYears * 365 + diffDays) * days) / hours);
                var diffMinutes = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours) / minutes);
                var diffSeconds = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours - diffMinutes * minutes) / seconds);
                document.getElementById("sitetime").innerHTML = "本站已生存：" + diffYears + " 年 " + diffDays + " 天 " + diffHours + " 小时 " + diffMinutes + " 分钟 " + diffSeconds + " 秒";
            }

            siteTime();
        </script>
    </div>
</div>

</body>
</html>
